// ======= HOME ======= //
.home-content {
  padding: 0 20px;

  // ===== Banner ===== //
  #home-banner {
    background-color: $main-bgColor;
    padding: 30px 0;

    .home-banner-content {
      @include flex-display(flex, row, flex-start, space-between);

      .banner-left {
        max-width: calc(100% - 390px);
        padding-right: 30px;

        .banner-slider {
          position: relative;

          .slide-item {
            height: 415px;

            img {
              animation: sliderAnimation 1s;
            }

            @keyframes sliderAnimation {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }

          .slider-btns {
            .left-btn,
            .right-btn {
              @include flex-display(flex, row, center, center);
              background-color: transparent;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              transition: all 0.3s ease;
              width: 40px;
              height: 40px;

              &:hover {
                background-color: $primary-color;
              }

              svg {
                font-size: 20px;
              }
            }

            .left-btn {
              left: 0;
            }

            .right-btn {
              right: 0;
            }
          }
        }
      }

      .banner-right-imgs {
        max-width: 390px;

        .banner-img-wrapper {
          padding-bottom: 30px;
        }
      }
    }
  }

  // ===== Advantages ===== //
  #advantages {
    background-color: $main-bgColor;
    padding: 0 0 30px;

    .advantages-items-wrapper {
      padding: 30px;
      border: $primary-border;

      ul {
        @include flex-display(flex, row, center, space-around);
        margin: 0;
        padding: 0;

        .advantages-item {
          text-align: center;

          span svg {
            font-size: 40px;
            color: $primary-color;
            margin-bottom: 20px;
          }

          p {
            margin: 0;
            font-size: 14px;
            color: $text-color;
          }
        }
      }
    }
  }

  // ===== Deal of the day ===== //
  #deal-of-the-day {
    background-color: $main-bgColor;
    padding: 40px 0;

    .section-header {
      @extend %home-section-header;
      background-color: transparent;

      .title {
        @extend %home-section-header-title;
        h4 {
          margin: 2px 70px 0 0;
        }
      }

      .countdown {
        background-color: $label-color;
        color: #fff;
        width: 275px;
        padding: 4px 0 4px 28px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 3px;

        .text p {
          margin: 0 20px 0 0;
        }

        .items {
          .colon-symbol {
            margin: 0 5px;
          }
        }
      }

      .view-all {
        a {
          @extend %home-section-header-link-and-btns;
        }
      }
    }
  }

  // ===== Categories ===== //
  #categories {
    .top-categories-list {
      padding: 80px 0;

      .section-title {
        @extend %home-section-header-title;
      }

      .categories-wrapper {
        padding-top: 20px;

        a {
          text-decoration: none;
        }

        .category-item {
          border: 1px solid #bfbfbf;
          text-align: center;
          padding-bottom: 20px;
          transition: all 0.3s ease;

          &:hover {
            border: 1px solid $primary-color;

            .category-title h6 {
              color: $primary-color;
            }
          }

          .category {
            &-img {
              padding: 20px;
            }

            &-title {
              h6 {
                color: $text-color;
                transition: all 0.3s ease;
              }
            }
          }
        }
      }
    }

    .section-header {
      @extend %home-section-header;

      .left-side {
        .section-title {
          @extend %home-section-header-title;
        }
      }

      .right-side {
        .section-buttons-and-link {
          @include flex-display(flex, row, center, space-between);
          width: 390px;
          margin: 0;
          padding: 0;

          a {
            @extend %home-section-header-link-and-btns;
          }
        }
      }
    }

    .consumer-electronics,
    .clothings,
    .garden-and-kitchen {
      padding-bottom: 80px;
    }
  }

  // ===== Ads-2 ===== //
  #ads-2 {
    padding-bottom: 80px;
  }

  // ===== Download app ===== //
  #download-app {
    .download-app-wrapper {
      background-color: $secondary-bgColor;
      padding: 80px 0 0;

      .app-img {
        padding-left: 120px;

        img {
          width: auto;
        }
      }

      .download-app-content {
        padding-right: 230px;

        .text {
          h3 {
            margin-bottom: 12px;
            font-size: 30px;
            font-weight: 300;
          }

          p {
            color: $text-color;
            margin-bottom: 30px;
          }
        }

        .subscribe-wrapper {
          padding-bottom: 30px;

          @extend %subscribe-form;
        }

        .small-imgs {
          .small-img-wrapper {
            padding-right: 20px;
          }
        }
      }
    }
  }

  // ===== New arrivals ===== //
  #new-arrivals {
    padding: 100px 0 50px;

    .section-header {
      @extend %home-section-header;
      margin-bottom: 60px;

      .left-side {
        .section-title {
          @extend %home-section-header-title;
        }
      }

      .right-side {
        .section-buttons-and-link {
          @include flex-display(flex, row, center, space-between);
          width: 666px;
          margin: 0;
          padding: 0;

          a {
            @extend %home-section-header-link-and-btns;
          }
        }
      }
    }

    .product-item {
      @include flex-display(flex, row, center, space-between);
      margin-bottom: 30px;

      &-img {
        width: 160px;
      }

      &-price {
        @extend %product-price;
        border-top: 0;
        padding-top: 0;

        span {
          font-size: 17px;
          font-weight: 400;
          color: #840000;
        }
      }

      &-title {
        @extend %product-title;

        h6 {
          margin: 0;
        }
      }

      &-rating {
        @extend %product-rating;
      }

      .product-item-right-content {
        padding-left: 10px
      }
    }
  }
}