.shop-content-wrapper {
  padding: 30px 0 80px;

  ul {
    margin: 0;
    padding: 0;
  }

  .brands {
    padding: 25px 0 58px;

    ul {
      justify-content: space-between;
      align-items: center;

      img {
        height: auto;
        width: auto;
      }
    }
  }

  .filter-side {
    h5 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 22px;
    }

    .categories,
    .brands,
    .range-slider {
      background-color: $secondary-bgColor;
      padding: 25px;
    }

    .categories-title {
      h5 {
        margin-bottom: 18px;
      }
    }

    .price-filter-title {
      h5 {
        margin-bottom: 33px;
      }
    }

    .range-slider {
      .slider {
        position: relative;
        width: 200px;

        .slider__track,
        .slider__range {
          position: absolute;
        }

        .slider__track,
        .slider__range {
          border-radius: 3px;
          height: 5px;
        }

        .slider__track {
          background-color: #fff;
          width: 100%;
          z-index: 1;
        }

        .slider__range {
          background-color: #3498ff;
          z-index: 2;
        }
      }

      p {
        padding-top: 25px;
        font-size: 14px;
        color: $text-color;
      }

      /* removing the default appearance */
      .thumb,
      .thumb::-webkit-slider-thumb {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
      }

      .thumb {
        pointer-events: none;
        position: absolute;
        height: 0;
        width: 200px;
        outline: none;
      }

      .thumb--left {
        z-index: 3;
      }

      .thumb--right {
        z-index: 4;
      }

      .thumb::-webkit-slider-thumb {
        background-color: #fff;
        border: 3px solid #3498ff;
        border-radius: 50%;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin-top: 4px;
        pointer-events: all;
        position: relative;
      }
    }

    .categories {
      margin-bottom: 20px;

      ul {
        li {
          padding: 6px 0;

          a {
            font-size: 14px;
            color: $text-color;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

    .brands {
      @extend %checkbox;
      margin-bottom: 20px;

      li {
        padding: 6px 0;

        label {
          font-size: 14px;
          color: $text-color;
        }
      }
    }
  }

  .products-side {
    .products-header {
      background-color: $secondary-bgColor;
      justify-content: space-between;
      align-items: center;
      padding: 8px 15px;
      margin-bottom: 10px;

      .products-found {
        span,
        p {
          font-size: 14px;
        }

        span {
          margin-right: 7px;
          font-weight: 600;
        }

        p {
          color: $text-color;
        }
      }

      .sorting {
        justify-content: flex-end;
        align-items: center;

        label {
          font-size: 14px;
          font-weight: 400;
        }

        select {
          background: #fff !important;
          margin-left: 10px;
          font-size: 14px;
          outline: none;
          border: 1px solid rgb(212, 210, 210);
          height: 35px;
          padding: 0 5px;
          background: transparent;
          cursor: pointer;
          transition: color 0.2s linear;

          &:focus {
            border: 1px solid $primary-color;
          }
        }
      }
    }

    nav {
      padding-top: 40px;

      .pagination {
        padding-top: 7px;

        li {
          margin-right: 10px;

          button {
            padding: 0;
            border-radius: 2px;
            min-width: 32px;
            height: 32px;
            line-height: 17px;
            font-size: 14px;
            color: $text-color;

            &:hover {
              color: white;
              background-color: $primary-color;
              border: 1px solid $primary-color;
            }

            &:focus {
              box-shadow: none !important;
            }
          }

          .arrow {
            font-size: 18px;
            width: 32px;
          }
        }

        .active {
          button {
            color: white;
            background-color: $primary-color;
            border: 1px solid $primary-color;
          }
        }
      }
    }
  }
}
